header, footer {
    background: var(--background-glass-effect);
    backdrop-filter: blur(10px);
    /*padding: 20px 0;*/
    text-align: center;
    border: 1px solid var(--border-glass-color);

}
header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

footer {
margin-top: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    color: var(--secondary-color);
    background: var(--gradient-background);
    min-height: 100vh;
    margin: 0;
    padding-top: var(--header-height);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 20px;
    padding-top: calc(var(--header-height) + 20px);
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    margin-top: var(--header-height);
}

.navbar {
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
}

/* button base style */
button {
    /* structure */
    padding: 10px 20px;
    border-radius: 5px;

    /* design */
    font-family: var(--font-family);
    color: var(--darker-supplementary);
    box-shadow: 5px;
    backdrop-filter: blur(10px);

    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

        /* glass effect */
    border: 1px solid var(--border-glass-color);
    background: var(--background-glass-effect);

}

button:hover {
    background-color: var(--primary-color);
    color: var(--lighter-supplementary);
    transform: translateY(-2px);
    box-shadow: 4px 6px 24px rgba(0, 0, 0, 0.3);
}

.title {
    /*padding: 10px;*/
    color: var(--darker-supplementary);

    font-size: var(--title-font-size);
    font-family: var(--font-family) ;
    font-weight: var(--header-font-weight);
    font-style: var(--header-styling);
}
.login-container{
    width: 400px; /* Set width as per your requirement */
    margin: 50px auto 0; /* This centers the container horizontally and adds 50px of space above */
    padding: 20px;
    margin-top: 100px;
    margin-left: 650px;
    position: relative;
    color: var(--secondary-color);
}

.registration-container{
    width: 400px; /* Set width as per your requirement */
    margin: 50px auto 0; /* This centers the container horizontally and adds 50px of space above */
    padding: 20px;
    margin-top: 100px;
    margin-left: 650px;
    position: relative;
    color: var(--secondary-color);
}

.links{
    width: 400px;
    padding: 20px;
    position: relative;
    margin-left: 650px;
}