h1 {
    text-align: center;
    color: #9C1A1C;
}

.body {
    text-align: center;
    margin: auto;
    width: 90%;
    /*margin-right: 2%;*/
    margin-top: 4%;
    /*margin-left: 5%;*/
    overflow: scroll;
}

.custom-btn-patient-table {
    padding-top: 1px;
    padding-bottom: 1px;
}

.custom-input-search {
    margin-right: 2%;
}

.custom-navbar {
    padding-left: 2%;
}

.custom-modal {
    text-align: left;
}

.custom-search-bar {
    margin-bottom: 2%;
}

.edit-patient-custom {
    text-align: left;
}

.edit-patient-btn-custom-div {
    margin-top: 1%;
    align-items: center;
}

.edit-patient-btn-custom {
    margin-left: auto;
}

.patientsNavbar {
    z-index: 3;
}

.table {
    background-color: var(--background-glass-effect);
    --bs-table-bg: none;
}

.modal {
    --bs-modal-bg: var(--primary-color);
}

.navbarC {
    width: 4%;
}

.navbarC-items a {

}