<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shield Health</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="../../static/scripts/patients/patients.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../../static/styles/patients/patients.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="background-container">

<header>
    <h1 class="title">Patients</h1>
</header>

<div>
    <div class="navbarC patientsNavbar">
        <div class="navbarC-items">
            <!-- Using Unicodes for collapsable sidebar-->
            {% if access %}
            {% if access == 'A' %}
            <a href="{{ url_for('patients') }}"><span class="icon">&#x1F465;</span><span
                    class="text"> Patients</span></a>
            <a href="{{ url_for('medication') }}"><span class="icon">&#x1F48A;</span><span
                    class="text"> Medication</span></a>
            <a href="{{ url_for('appointments') }}"><span class="icon">&#x1F4C5;</span><span
                    class="text"> Appointments</span></a>
            {% elif access == 'D' %}
            <a href="{{ url_for('patients') }}"><span class="icon">&#x1F465;</span><span
                    class="text"> Patients</span></a>
            <a href="{{ url_for('medication') }}"><span class="icon">&#x1F48A;</span><span
                    class="text"> Medication</span></a>
            {% elif access == 'H' %}
            <a href="{{ url_for('patients') }}"><span class="icon">&#x1F465;</span><span
                    class="text"> Patients</span></a>
            <a href="{{ url_for('medication') }}"><span class="icon">&#x1F48A;</span><span
                    class="text"> Medication</span></a>
            <a href="{{ url_for('appointments') }}"><span class="icon">&#x1F4C5;</span><span
                    class="text"> Appointments</span></a>
            {% endif %}
            <a href="{{ url_for('logout') }}"><span class="icon">&#x1f513;</span><span class="text">Logout</span></a>
            {% else %}
            <a href="{{ url_for('login') }}"><span class="icon">&#x1F512;</span><span class="text">Login</span></a>
            <a href="{{ url_for('register') }}"><span class="icon">&#x1f4cb;</span><span class="text">Register</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="body">
    <div class="container-fluid custom-search-bar">
        <form class="d-flex" method="post">
            <label id="dummyLabel0"
                   for="searchPatientInput"></label>
            <div class="col-md-10">
                <input type="text"
                       class="form-control custom-input-search"
                       placeholder="Patient search"
                       id="searchPatientInput"
                       name="searchPatientInput">
            </div>
            <div class="col-md-1">
                <button class="btn btn-secondary"
                        type="submit"
                        value="search"
                        name="searchPatientBtn">Search
                </button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addPatientModal">
                    Add patient
                </button>
            </div>
        </form>
    </div>
    <div>
        {% block content %}
        <table id="patientsTableID" class="table table-striped">
            <tr>
                <!--<th>Serial number</th>-->
                <th>Patient name</th>
                <th>Age</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Patient Record</th>
                <th>Medication Record</th>
                <th></th>
            </tr>
            {% for patient in patientsList %}
            <tr>
                <!--PatientID,Name,DrugAllergies,DNRStatus,Age,Height,Weight,Gender,EmergencyContact,Phone,Address-->
                <td>{{ patient.Name }}</td>
                <td>{{ patient.Age }}</td>
                <td>{{ patient.Address }}</td>
                <td>{{ patient.Phone }}</td>
                <td>
                    <form method="post">
                        <button class="btn btn-info custom-btn-patient-table"
                                type="button"
                                id="viewEditBtn{{patient.PatientID }}"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapsePatientUpdate{{patient.PatientID}}"
                                aria-expanded="false"
                                aria-controls="collapsePatientUpdate{{patient.PatientID}}">
                            View
                        </button>
                    </form>
                    <script>
                        document.getElementById("viewEditBtn{{patient.PatientID }}").addEventListener("click", function () {
                            if (document.getElementById("viewEditBtn{{patient.PatientID }}").innerHTML === "Hide") {
                                document.getElementById("viewEditBtn{{patient.PatientID }}").innerHTML = "View";
                                document.getElementById("viewEditBtn{{patient.PatientID }}").style.background = "#0dcaf0";
                                document.getElementById("viewEditBtn{{patient.PatientID }}").style.color = "black";
                                document.getElementById("viewEditBtn{{patient.PatientID }}").style.borderColor = "#0dcaf0";
                            } else {
                                document.getElementById("viewEditBtn{{patient.PatientID }}").innerHTML = "Hide";
                                document.getElementById("viewEditBtn{{patient.PatientID }}").style.background = "#dc3545";
                                document.getElementById("viewEditBtn{{patient.PatientID }}").style.color = "white";
                                document.getElementById("viewEditBtn{{patient.PatientID }}").style.borderColor = "white";
                            }
                        });
                    </script>
                </td>
                <td>
                    <form method="post">
                        <button class="btn btn-info custom-btn-patient-table"
                                type="button"
                                id="viewMedicalRecordBtn{{patient.PatientID}}"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseMedicalRecord{{patient.PatientID}}"
                                aria-expanded="false"
                                aria-controls="collapseMedicalRecord{{patient.PatientID}}">
                            Add/Edit
                        </button>
                    </form>

                    <script>
                        document.getElementById("viewMedicalRecordBtn{{patient.PatientID }}").addEventListener("click", function () {
                            if (document.getElementById("viewMedicalRecordBtn{{patient.PatientID }}").innerHTML === "Hide") {
                                document.getElementById("viewMedicalRecordBtn{{patient.PatientID }}").innerHTML = "Add/Edit";
                                document.getElementById("viewMedicalRecordBtn{{patient.PatientID }}").style.background = "#0dcaf0";
                                document.getElementById("viewMedicalRecordBtn{{patient.PatientID }}").style.color = "black";
                                document.getElementById("viewMedicalRecordBtn{{patient.PatientID }}").style.borderColor = "#0dcaf0";
                            } else {
                                document.getElementById("viewMedicalRecordBtn{{patient.PatientID }}").innerHTML = "Hide";
                                document.getElementById("viewMedicalRecordBtn{{patient.PatientID }}").style.background = "#dc3545";
                                document.getElementById("viewMedicalRecordBtn{{patient.PatientID }}").style.color = "white";
                                document.getElementById("viewMedicalRecordBtn{{patient.PatientID }}").style.borderColor = "white";
                            }
                        });
                    </script>
                </td>
                <td>
                    <form method="post">
                        <label id="dummyLabel2"
                               for="deletePatientID"
                               hidden></label>
                        <input type="text"
                               id="deletePatientID"
                               name="deletePatientID"
                               value="{{ patient.PatientID }}"
                               hidden>
                        <button type="submit"
                                class="btn btn-danger custom-btn-patient-table"
                                value="delete"
                                name="deletePatient">Delete patient
                        </button>
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div class="row g-6 collapse edit-patient-custom" id="collapseMedicalRecord{{patient.PatientID}}">
                        <h5 class="modal-title" style="text-align: center">Medical Record</h5>
                        <hr style="margin-top: 1%">
                        <form class="row g-9" action="{{url_for('patients')}}" method="post">
                            <label id="dummyLabel5"
                                   for="editPatientIDAMR"
                                   hidden></label>
                            <input type="text"
                                   id="editPatientIDAMR"
                                   name="editPatientIDAMR"
                                   value="{{ patient.PatientID }}"
                                   hidden>
                            <label id="dummyLabel5_1"
                                   for="editPatientDocUserName"
                                   hidden></label>
                            <input type="text"
                                   id="editPatientDocUserName"
                                   name="editPatientDocUserName"
                                   value="{{ username }}"
                                   hidden>
                            <div class="col-md-2">
                                <label for="medicationNameAdd" class="form-label">Medication Name</label>
                                <select id="medicationNameAdd"
                                        name="medicationNameAdd"
                                        class="form-select">
                                    <option selected>None</option>
                                    {% for medication in medicationsList %}
                                    <option>{{ medication.MedicationName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label id="dummyLabel5_2"
                                   for="editPatientMedicationID"
                                   hidden></label>
                            <input type="text"
                                   id="editPatientMedicationID"
                                   name="editPatientMedicationID"
                                   value=""
                                   hidden>
                            <div class="col-md-2">
                                <label for="medicationParamAdd" class="form-label">Medication Parameters</label>
                                <input type="text"
                                       class="form-control"
                                       id="medicationParamAdd"
                                       name="medicationParamAdd">
                            </div>
                            <div class="col-md-2">
                                <label for="medicationDoseAdd" class="form-label">Medication Dose</label>
                                <input type="text"
                                       class="form-control"
                                       id="medicationDoseAdd"
                                       name="medicationDoseAdd">
                            </div>
                            <div class="col-md-2">
                                <label for="medicationFrequencyAdd" class="form-label">Medication Frequency</label>
                                <select id="medicationFrequencyAdd"
                                        name="medicationFrequencyAdd"
                                        class="form-select">
                                    <option selected>None</option>
                                    <option>Once Daily</option>
                                    <option>Twice Daily</option>
                                    <option>Thrice Daily</option>
                                </select>
                            </div>
                            <div class="col-2">
                                <label for="medicationLastPassedAdd" class="form-label">Medication Start Passed</label>
                                <input type="date"
                                       class="form-control"
                                       id="medicationLastPassedAdd"
                                       name="medicationLastPassedAdd"
                                       placeholder="MM/DD/YYYY">
                            </div>
                            <div class="col-md-2 edit-patient-btn-custom-div">
                                <button type="submit"
                                        class="btn btn-primary"
                                        name="addMedicalRecord"
                                        value="add">Add prescription
                                </button>
                            </div>
                        </form>
                        {% for record in medRecordsList %}
                        {% if record.PatientID == patient.PatientID %}
                        <hr style="margin-top: 1%">
                        <!--Start - View/Edit medical record form-->
                        <form class="row g-9" action="{{url_for('patients')}}" method="post">
                            <!--Fields - MedRecId,PatientID,DocUserName,MedicationID,MedicationParameters,
                            MedicationDose,MedicationFrequency,MedicationLastPassed-->
                            <label id="dummyLabel4"
                                   for="editPatientIDUMR"
                                   hidden></label>
                            <input type="text"
                                   id="editPatientIDUMR"
                                   name="editPatientIDUMR"
                                   value="{{ patient.PatientID }}"
                                   hidden>
                            <label id="dummyLabel4_1"
                                   for="editPatientIDMRID"
                                   hidden></label>
                            <input type="text"
                                   id="editPatientIDMRID"
                                   name="editPatientIDMRID"
                                   value="{{ record.MedRecId }}"
                                   hidden>
                            <div class="col-md-2">
                                <label for="medicationNameEdit" class="form-label">Medication Name</label>
                                <input type="text"
                                       class="form-control"
                                       id="medicationNameEdit"
                                       name="medicationNameEdit"
                                       value="{{ record.MedicationName }}"
                                       >
                            </div>
                            <div class="col-md-2">
                                <label for="medicationParamEdit" class="form-label">Medication Parameters</label>
                                <input type="text"
                                       class="form-control"
                                       id="medicationParamEdit"
                                       name="medicationParamEdit"
                                       value="{{ record.MedicationParameters }}">
                            </div>
                            <div class="col-md-2">
                                <label for="medicationDoseEdit" class="form-label">Medication Dose</label>
                                <input type="text"
                                       class="form-control"
                                       id="medicationDoseEdit"
                                       name="medicationDoseEdit"
                                       value="{{ record.MedicationDose }}">
                            </div>
                            <div class="col-md-2">
                                <label for="medicationFrequencyEdit" class="form-label">Medication Frequency</label>
                                <input type="text"
                                       class="form-control"
                                       id="medicationFrequencyEdit"
                                       name="medicationFrequencyEdit"
                                       value="{{ record.MedicationFrequency }}">
                            </div>
                            <div class="col-2">
                                <label for="medicationLastPassedEdit" class="form-label">Medication Last Passed</label>
                                <input type="text"
                                       class="form-control"
                                       id="medicationLastPassedEdit"
                                       name="medicationLastPassedEdit"
                                       placeholder="MM/DD/YYYY"
                                       value="{{ record.MedicationLastPassed }}">
                            </div>
                            <div class="col-md-2 edit-patient-btn-custom-div">
                                <button type="submit"
                                        class="btn btn-warning"
                                        name="updateMedicalRecord"
                                        value="update">Update prescription
                                </button>
                            </div>
                        </form>
                        <form method="post">
                            <label id="dummyLabel4_2"
                                   for="deletePatientIDMRID"
                                   hidden></label>
                            <input type="text"
                                   id="deletePatientIDMRID"
                                   name="deletePatientIDMRID"
                                   value="{{ record.MedRecId }}"
                                   hidden>
                            <div class="col-md-2 edit-patient-btn-custom-div">
                                <button type="submit"
                                        class="btn btn-danger"
                                        name="deleteMedicalRecord"
                                        value="delete">Delete prescription
                                </button>
                            </div>
                        </form>
                        <!--End - Edit patient details form-->
                        {% endif %}
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div class="row g-6 collapse edit-patient-custom" id="collapsePatientUpdate{{patient.PatientID}}">
                        <!--Start - Edit patient details form-->
                        <form class="row g-9" action="{{url_for('patients')}}" method="post">
                            <h5 class="modal-title" id="editPatientModalLabel" style="text-align: center">Patient
                                details</h5>
                            <!--Fields - PatientID,Name,DrugAllergies,DNRStatus,Age,Height,Weight,Gender,
                            EmergencyContact,Phone,Address-->
                            <label id="dummyLabel3"
                                   for="editPatientID"
                                   hidden></label>
                            <input type="text"
                                   id="editPatientID"
                                   name="editPatientID"
                                   value="{{ patient.PatientID }}"
                                   hidden>
                            <div class="col-md-12">
                                <label for="inputNameEdit" class="form-label">First name</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputNameEdit"
                                       name="inputNameEdit"
                                       value="{{ patient.Name }}">
                            </div>
                            <div class="col-md-3">
                                <label for="inputAgeEdit" class="form-label">Age</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputAgeEdit"
                                       name="inputAgeEdit"
                                       value="{{ patient.Age }}">
                            </div>
                            <div class="col-md-3">
                                <label for="inputHeightEdit" class="form-label">Height</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputHeightEdit"
                                       name="inputHeightEdit"
                                       value="{{ patient.Height }}">
                            </div>
                            <div class="col-md-3">
                                <label for="inputWeightEdit" class="form-label">Weight</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputWeightEdit"
                                       name="inputWeightEdit"
                                       value="{{ patient.Weight }}">
                            </div>
                            <div class="col-md-3">
                                <label for="inputGenderEdit" class="form-label">Gender</label>
                                <select id="inputGenderEdit"
                                        class="form-select"
                                        name="inputGenderEdit">
                                    <option selected>{{ patient.Gender }}</option>
                                    {% if(patient.Gender == "Female") %}
                                    <option>Male</option>
                                    {% else %}
                                    <option>Female</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputDrugAllergiesEdit"
                                       class="form-label">DrugAllergies</label>
                                <select id="inputDrugAllergiesEdit"
                                        class="form-select"
                                        name="inputDrugAllergiesEdit">
                                    <option selected>{{ patient.DrugAllergies }}</option>
                                    {% if(patient.DrugAllergies != "Aspirin") %}
                                    <option>Aspirin</option>
                                    {% endif %}
                                    {% if(patient.DrugAllergies != "Ibuprofen") %}
                                    <option>Ibuprofen</option>
                                    {% endif %}
                                    {% if(patient.DrugAllergies != "Penicillin") %}
                                    <option>Penicillin</option>
                                    {% endif %}
                                    {% if(patient.DrugAllergies != "Sulfa") %}
                                    <option>Sulfa</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputDNRStatusEdit" class="form-label">DNRStatus</label>
                                <select id="inputDNRStatusEdit"
                                        class="form-select"
                                        name="inputDNRStatusEdit">
                                    <option selected>{{ patient.DNRStatus }}</option>
                                    {% if(patient.DNRStatus == "False") %}
                                    <option>True</option>
                                    {% else %}
                                    <option>False</option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="inputAddressEdit" class="form-label">Address</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputAddressEdit"
                                       name="inputAddressEdit"
                                       value="{{ patient.Address }}">
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmergencyContactEdit" class="form-label">Emergency Contact</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputEmergencyContactEdit"
                                       name="inputEmergencyContactEdit"
                                       value="{{ patient.EmergencyContact }}">
                            </div>
                            <div class="col-md-6">
                                <label for="inputPhoneEdit" class="form-label">Phone</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputPhoneEdit"
                                       name="inputPhoneEdit"
                                       value="{{ patient.Phone }}">
                            </div>
                            <div class="col-md-6 edit-patient-btn-custom-div">
                                <button type="submit"
                                        class="btn btn-success"
                                        value="update"
                                        name="updatePatient">Update
                                </button>
                            </div>
                        </form>
                        <!--End - Edit patient details form-->
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endblock %}
    </div>
    <div>
        <!-- Add Patient Modal -->
        <div class="modal fade bd-example-modal-lg custom-modal" id="addPatientModal" tabindex="-1"
             aria-labelledby="addPatientModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <!--Start - Add patient details form-->
                        <form class="row g-3" action="{{url_for('patients')}}" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addPatientModalLabel">Patient details</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <!--Fields - PatientID,Name,DrugAllergies,DNRStatus,Age,Height,Weight,Gender,
                            EmergencyContact,Phone,Address-->
                            <div class="col-md-6">
                                <label for="inputFirstNameAdd" class="form-label">First name</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputFirstNameAdd"
                                       name="inputFirstNameAdd"
                                       required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputLastNameAdd" class="form-label">Last name</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputLastNameAdd"
                                       name="inputLastNameAdd"
                                       required>
                            </div>
                            <div class="col-md-3">
                                <label for="inputAgeAdd" class="form-label">Age</label>
                                <input type="number"
                                       class="form-control"
                                       id="inputAgeAdd"
                                       name="inputAgeAdd"
                                       required>
                            </div>
                            <div class="col-md-3">
                                <label for="inputHeightAdd" class="form-label">Height(centimeter)</label>
                                <input type="number"
                                       class="form-control"
                                       id="inputHeightAdd"
                                       name="inputHeightAdd"
                                       required>
                            </div>
                            <div class="col-md-3">
                                <label for="inputWeightAdd" class="form-label">Weight(kilograms)</label>
                                <input type="number"
                                       class="form-control"
                                       id="inputWeightAdd"
                                       name="inputWeightAdd"
                                       required>
                            </div>
                            <div class="col-md-3">
                                <label for="inputGenderAdd" class="form-label">Gender</label>
                                <select id="inputGenderAdd"
                                        name="inputGenderAdd"
                                        class="form-select"
                                        required>
                                    <option selected>None</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputDrugAllergiesAdd" class="form-label">DrugAllergies</label>
                                <select id="inputDrugAllergiesAdd"
                                        name="inputDrugAllergiesAdd"
                                        class="form-select">
                                    <option selected>None</option>
                                    <option>Aspirin</option>
                                    <option>Ibuprofen</option>
                                    <option>Penicillin</option>
                                    <option>Sulfa</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="inputDNRStatusAdd" class="form-label">DNRStatus</label>
                                <select id="inputDNRStatusAdd"
                                        name="inputDNRStatusAdd"
                                        class="form-select">
                                    <option selected>None</option>
                                    <option>True</option>
                                    <option>False</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <label for="inputAddressAdd" class="form-label">Address</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputAddressAdd"
                                       name="inputAddressAdd"
                                       required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputCityAdd" class="form-label">City</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputCityAdd"
                                       name="inputCityAdd"
                                       required>
                            </div>
                            <div class="col-md-4">
                                <label for="inputStateAdd" class="form-label">State</label>
                                <select id="inputStateAdd"
                                        name="inputStateAdd"
                                        class="form-select"
                                        required>
                                    <option selected>...</option>
                                    <option>CA</option>
                                    <option>NY</option>
                                    <option>FL</option>
                                    <option>TX</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="inputZipAdd" class="form-label">Zip</label>
                                <input type="number"
                                       class="form-control"
                                       id="inputZipAdd"
                                       name="inputZipAdd"
                                       required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmergencyContactAdd" class="form-label">Emergency Contact</label>
                                <input type="text"
                                       class="form-control"
                                       id="inputEmergencyContactAdd"
                                       name="inputEmergencyContactAdd"
                                       required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPhoneAdd" class="form-label">Phone</label>
                                <input type="number"
                                       class="form-control"
                                       id="inputPhoneAdd"
                                       name="inputPhoneAdd"
                                       required>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit"
                                        class="btn btn-success"
                                        value="add"
                                        name="addPatient">Add patient
                                </button>
                            </div>
                        </form>
                        <!--End - Add patient details form-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>