/* Major Elements Design*/
header, footer {
    background: var(--background-glass-effect);
    backdrop-filter: blur(10px);
    /*padding: 20px 0;*/
    text-align: center;
    border: 1px solid var(--border-glass-color);
    
}
header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

footer {
margin-top: auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    color: var(--secondary-color);
    background: var(--gradient-background);
    height: 100vh;
    margin: 0;
    /*padding-top: var(--header-height);*/
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding: 20px;
    padding-top: calc(var(--header-height) + 20px);
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    /*margin-top: var(--header-height);*/
}

.navbar {
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
}

/* button base style */
button {
    /* structure */
    padding: 10px 20px;
    border-radius: 5px;

    /* design */
    font-family: var(--font-family);
    color: var(--darker-supplementary);
    box-shadow: 5px;
    backdrop-filter: blur(10px);

    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
        /* glass effect */
    border: 1px solid var(--border-glass-color);
    background: var(--background-glass-effect);

}

button:hover {
    background-color: var(--primary-color);
    color: var(--lighter-supplementary);
    transform: translateY(-2px);
    box-shadow: 4px 6px 24px rgba(0, 0, 0, 0.3);
}

.title {
    /*padding: 10 px 0;*/
    color: var(--darker-supplementary);

    font-size: var(--title-font-size);
    font-family: var(--font-family) ;
    font-weight: var(--header-font-weight);
    font-style: var(--header-styling);
}

.medication-management-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    
    width: 100%;
    padding: 50px 0;
    gap: 20px;
}

.medication-controller, .medication-schedule {
    flex-basis: 40%;
    margin: 0 10px;
}

/* medication controller section */
.medication-controller {
    margin-left: 300px;
    width: auto;
    min-width: 200px;
    
    position: relative;
    flex-grow: 1;
}

#medication-action-btn {
    background-color: var(--primary-color);
    color: var(--lighter-supplementary);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-content-medication {
    display: none;
    position: absolute;
    background: var(--background-glass-effect);
    backdrop-filter: blur(5px);
    
    border: 1px solid var(--border-glass-color);
    border-radius: 5px;
    padding: 10px;
    width: auto;
    top: 100%;
    left: 0;
}

.dropdown-content-medication button {
    background-color: transparent;
    color: var(--lighter-supplementary);
    border: 1px solid var(--border-glass-color);

    padding: 5px 10px;
    margin: 5px 0;
    width: calc(100% - 30px);
    text-align: left;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.dropdown-content-medication button:hover {
    background-color: var(--darker-supplementary);
    color: var(--lighter-supplementary);
}


/* medication schedule section */
.medication-schedule {
    gap: 20px;
    margin-right: 100px;
    margin-bottom: 30px;
}

/* field inputs div */
.medication-select-patient {
    gap: 10px;
    padding: 20px;
    border-radius: 5px;

    display: flex;

    background: var(--background-glass-effect);
    border: 1px solid var(--border-glass-color);
    backdrop-filter: blur(5px);
}

    /* field inputs for medication patient search */
.medication-select-patient input, .medication-select-patient button {
    padding: 10px;
    color: var(--darker-supplementary);
    background: transparent;
    border: 1px solid var(--border-glass-color);
    border-radius: 5px;
}

/* field input buttons */
.medication-select-patient button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.medication-select-patient button:hover {
    background-color: var(--darker-supplementary);
}

/* Browse Medication button styles */
#patient-dropdown-medication {
    display: none;
    position: relative;
    padding: 10px;
    width: auto;
    max-height: 300px;
    border-radius: 5px;
    top: 100%;
    left: 0;
    z-index: 10;
    overflow-y: auto; 

    background-color: var(--darker-supplementary);
    background: var(--background-glass-effect);
    border: 1px solid var(--border-glass-color);
    backdrop-filter: blur(5px);

}

#patient-dropdown-medication button {
    background-color: transparent;
    color: var(--lighter-supplementary);
    padding: 5px 10px;
    margin: 5px 0;
    width: calc(100% - 30px);
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    border: 1px solid var(--border-glass-color);

}

/* Style for tables within the medication schedule */
.table-medication {
    width: 100%; /* Make table width responsive */
    max-width: 100%; /* Prevent the table from overflowing its container */
    overflow-x: auto; /* Enable horizontal scrolling on smaller screens */
    display: block; /* Block display to take full available width */
}

/* Cells in the table */
.table-medication th, .table-medication td {
    min-width: 120px; /* Minimum width of table cells */
    padding: 8px; /* Padding inside cells */
    text-align: left; /* Align text to the left */
    border-bottom: 1px solid var(--border-color); /* Border between rows */
}

/* Header of the table */
.table-medication thead th {
    background-color: var(--darker-supplementary); /* Background color for the table header */
    color: white; /* Text color for the header */
}


/* Calendar Section */
/* main design */
.medication-schedule-calendar {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    
    border: 1px solid var(--border-glass-color);
    background: var(--background-glass-effect);
    backdrop-filter: blur(5px);

}
/* label design */
.medication-schedule-calendar label {
    font-size: 1rem;
    color: var(--darker-supplementary);
    font-weight: bold;
}

/* input design */
.medication-schedule-calendar input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border-glass-color);

    color: var(--darker-supplementary);
    cursor: pointer;

    /* website defautlt styling, it's actually pretty but nah */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}
/* style when hovered on */
.medication-schedule-calendar input[type="date"]:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

/* style when selected */
.medication-schedule-calendar input[type="date"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-color);
}