<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>medication</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/medication/medication.css') }}">
</head>
<body>

    <header>
        <h1 class="title">Medication</h1>
    </header>

    <main style="margin-bottom: 20%;">
        <div class="navbarC">
             <div class="navbarC-items">
                <!-- Using Unicodes for collapsable sidebar-->
               {% if access %}
                    {% if access == 'A' %}
                        <a href="{{ url_for('patients') }}"><span class="icon">&#x1F465;</span><span class="text"> Patients</span></a>
                        <a href="{{ url_for('medication') }}"><span class="icon">&#x1F48A;</span><span class="text"> Medication</span></a>
                        <a href="{{ url_for('appointments') }}"><span class="icon">&#x1F4C5;</span><span class="text"> Appointments</span></a>
                    {% elif access == 'D' %}
                        <a href="{{ url_for('patients') }}"><span class="icon">&#x1F465;</span><span class="text"> Patients</span></a>
                        <a href="{{ url_for('medication') }}"><span class="icon">&#x1F48A;</span><span class="text"> Medication</span></a>
                    {% elif access == 'H' %}
                        <a href="{{ url_for('patients') }}"><span class="icon">&#x1F465;</span><span class="text"> Patients</span></a>
                        <a href="{{ url_for('medication') }}"><span class="icon">&#x1F48A;</span><span class="text"> Medication</span></a>
                        <a href="{{ url_for('appointments') }}"><span class="icon">&#x1F4C5;</span><span class="text"> Appointments</span></a>
                    {% endif %}
                    <a href="{{ url_for('logout') }}"><span class="icon">&#x1f513;</span><span class="text">Logout</span></a>
                {% else %}
                    <a href="{{ url_for('login') }}"><span class="icon">&#x1F512;</span><span class="text">Login</span></a>
                    <a href="{{ url_for('register') }}"><span class="icon">&#x1f4cb;</span><span class="text">Register</span></a>
                {% endif %}
             </div>
        </div>

        <div class="medication-management-container">
            <section class="medication-controller">
                <h2>
                    Medication Management
                </h2>

                <div class="form-design" style="text-align: left;">
                    <table>
                        <tr>
                            <th>Medication name</th>
                            <th>Medication refills</th>
                            <th>Medication pharmacological class</th>
                        </tr>
                        {% for medication in medicationsList %}
                        <tr>
                            <!--PatientID,Name,DrugAllergies,DNRStatus,Age,Height,Weight,Gender,EmergencyContact,Phone,Address-->
                            <td>{{ medication.MedicationName }}</td>
                            <td>{{ medication.MedicationRefills }}</td>
                            <td>{{ medication.MedicationPharmacologicalClass }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>

                <button id="medication-actions-btn" style="margin-top: 2%;"> Manage Medications</button>
                <div id="dropdown-content-medication" class="dropdown-content-medication">
                    <button id="add-medication">Add Medication</button>
                    <button id="edit-medication">Edit Medication Details </button>
                    <button id="remove-medication">Remove Medication</button>
                </div>
                <div id="add-medication-form" class="form-design" style="display: none;">
                    <!-- Medication ID maybe displayed? currently ignored-->
                    <input type="text" id="MedicationName" placeholder="Medication Name">
                    <!-- PatientList for Recipient -->
                    <input type="text" id="MedicationRecipient" placeholder="Recipeint Name" hidden>
                    <input type="number" id="MedicationRefills" placeholder="Refills">
                    <!-- last passed needs fixing but placeholder for now -->
                    <input type="datetime" id="MedicationLastPassed" placeholder="Last Passed Date" hidden>
                    <input type="text" id="MedicationParameters" placeholder="BP, HR, or BS" hidden>
                    <input type="text" id="MedicationPharmacologicalClass" placeholder="Medication Class">
                    <input type="text" id="MedicationPrescribedBy" placeholder="Prescribed By: " hidden>
                    <input type="text" id="MedicationDose" placeholder="Medication Dose" hidden>
                    <input type="number" id="MedicationFrequency" placeholder="Administration Frequency" hidden>

                    <button onclick="submitNewMedication()">Submit</button>
                </div>

                <div id="edit-medication-form" class="form-design" style="display: none;">
                    <!-- Medication ID maybe displayed? currently ignored-->
                    <!-- Medication List for edit form needed still -->
                    <input type="text" id="edit-MedicationName" placeholder="Medication Name">
                    <!-- PatientList for Recipient -->
                    <input type="text" id="edit-MedicationRecipient" placeholder="Recipient Name" hidden>
                    <input type="number" id="edit-MedicationRefills" placeholder="Refills">
                    <!-- last passed needs fixing but placeholder for now -->
                    <input type="text" id="edit-MedicationParameters" placeholder="BP, HR, or BS" hidden>
                    <input type="text" id="edit-MedicationPharmacologicalClass" placeholder="Medication Class">
                    <input type="text" id="edit-MedicationPrescribedBy" placeholder="Prescribed By: " hidden>
                    <input type="text" id="edit-MedicationDose" placeholder="Medication Dose" hidden>
                    <input type="number" id="edit-MedicationFrequency" placeholder="Administration Frequency" hidden>

                    <button onclick="submitEditMedication()">Save Changes</button>
                </div>

                <div id="remove-medication-form" class="form-design" style="display: none;">
                    <p>Which medication would you like to remove?</p>
                    <input type="text" id="remove-MedicationName" placeholder="Medication Name" oninput="updateConfirmation()">
                    <button onclick="submitRemoveMedication()">Remove Medication</button>
                </div>
            </section>

            <section class="medication-schedule">
                <h2>Medication Schedule</h2>
                <form action="{{url_for('medication')}}" class="medication" method="post">
                    <input type="text"
                           id="patient-name"
                           name="searchPatientNameInp"
                           style="width: 82%; margin-left: 2%;"
                           placeholder="Search patients by name...">
                    <button type="submit"
                            name="searchPatientName"
                            value="search">Search</button>
                </form>

<!--                <button id="browse-patients">Browse Patient List</button>-->

<!--                <div id="patient-dropdown-medication" style="display: none;">-->
                <div class="form-design" style="margin: 2%; text-align: left;">
                    <table>
                        <tr>
                            <th>Patient name</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Phone</th>
                        </tr>
                        {% for patient in patientsList %}
                        <tr>
                            <!--PatientID,Name,DrugAllergies,DNRStatus,Age,Height,Weight,Gender,EmergencyContact,Phone,Address-->
                            <td>{{ patient.Name }}</td>
                            <td>{{ patient.Age }}</td>
                            <td>{{ patient.Address }}</td>
                            <td>{{ patient.Phone }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </section>
        </div>
            <section class="medication-schedule-calendar">
                <!-- FullCalendar Library can be used for a comprehensive alternative, but no time for it -->
                <label for="Calendar">Date:</label>
                <input type="date" id="medicationSchedule" name="medicationSchedule">
            </section>
    </main>

    <footer>
        <p>
            <!-- &copy displays the copyright symbol -->
                &copy; 2024 Shield Health. All Rights Reserved,
                except the right to own it, because UNT
        </p>
    </footer>
    <script src="/static/scripts/medication/medication.js"></script>
</body>
</html>